@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}
/* header  */
.header .navbar-nav .nav-item:hover a {
  /* important được sử dụng khi muốn đè hết tất cả các css của thuộc
  tính đang được sử dụng */
  color: green !important;
}
.header .navbar-nav .nav-item {
  position: relative;
}
.header .navbar-nav .nav-item::before {
  content: "";
  display: block;
  background-color: green;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 1px;
  left: 14px;
  transition: all 0.5s;
}
.header .navbar-nav .nav-item:hover::before {
  width: 70%;
}
.header .navbar-nav .active a {
  color: green !important;
}
.header .navbar-nav .active::before {
  width: 70%;
}
.header .navbar-toggler {
  background-color: #35a22c;
}
.header .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
@media screen and (max-width: 991px) {
  .header .navbar-collapse {
    background-color: #fff;
  }
  #navbarNav .nav-item {
    margin: 0;
    padding: 0 10px;
  }

  #navbarNav .nav-item:hover {
    background-color: #35a22c;
  }

  #navbarNav .nav-item .nav-link {
    color: #35a22c !important;
  }
  #navbarNav .nav-item .nav-link:hover {
    color: #fff;
  }

  #navbarNav .nav-item:hover .nav-link {
    color: #fff !important;
  }
  .header .navbar-nav .active::before {
    width: 0;
  }
  .header .navbar-nav .nav-item:hover::before {
    width: 0;
  }

  .carousel .carousel-inner .carousel-item img {
    height: 100%;
  }
  .carousel .carousel-inner .carousel-item h2 {
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  header .navbar-brand i {
    font-size: 8vw;
  }

  header .navbar-brand {
    font-size: 7vw;
  }
}
header .navbar-toggler {
  background-color: #35a22c;
}

header .navbar-toggler:hover {
  background-color: #0ea8cf;
}
#navbarNav .nav-item.active::after {
  width: 100%;
}
/* carousel  */
.carousel-indicators {
  bottom: 10%;
}
.carousel .carousel-indicators button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}
.carousel .carousel-indicators button.active {
  background-color: #35a22c;
}
.carousel .carousel-item {
  position: relative;
  height: 100%;
}
.carousel .carousel-item {
  height: 100%;
}
.carousel .carousel-item .carousel_content {
  /* cách 2 dùng để canh giữa nội dung  */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 43, 54, 0.5);
  color: white;
}
.carousel .carousel-item .carousel_content img {
  border-radius: 50%;
  height: 150px;
}
.carousel .carousel-item .carousel_content h2 {
  font-size: 56px;
  font-weight: 400;
}
.carousel .carousel-item .carousel_content p {
  font-size: 24px;
}
@media screen and (max-width: 991px) {
  .carousel .carousel-item img{
    object-fit: cover;
  }
}

/* project  */
.project .project_content .nav-pills .active {
  border-color: green !important;
  color: white !important ;
  background-color: #35a22c;
  border: none !important;
}
.project .project_content .project_item .item_text h3 {
  font-size: 20px;
  transition: all 0.5s;
}

.project .tab-content .project_item .item_text {
  transition: all 0.5s;
  border-radius: 0 0 16px 16px;
  /* trước khi hover sẽ tạo sẵn một border và dùng transparent
  để có một border ẩn đi */
  border: 1px solid transparent;
  border-top: none;
}
.project .tab-content .project_item:hover .item_text {
  /* Khi hover thay dổi màu border để có thể nhận thuộc tính
  transition vì transition chỉ làm chậm hiệu ứng 
  chuyển đổi  */
  border-color: #35a22c;
  border-top: none;
}
.project .tab-content .project_item:hover .item_text h3 {
  color: #35a22c;
}
/* available  */
.available {
  background-image: url("../image/3.jpg");
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.available::before {
  content: "";
  background-color: rgba(7, 10, 12, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.available .available_content .available_item {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s;
}
.available .available_content .available_item:hover {
  background-color: black;
  border: 1px solid white;
}
/* mobile <576px  */
/* sử dụng @media screen để responsive cho các thiết bị khác  */
/* có 2 loại giá trị sử dụng đó là max-width và min-width  */
/* max-width thường dành cho việc xử lí các giao diện hiển thị trên 
các thiết bị nhỏ hơn khi đã có giao diện trên màn hình lớn  */
/* max-width tức nghĩa là từ 0 cho tới giá trị đó  */
/* min-width dành cho các trường hợp mobile-first nghĩa là xây dựng 
giao diện mobile trước  */
/* min-width tức nghĩa là từ giá trị đó đi tới dương vô cực  */
/* lưu ý khi sử dụng min-width sẽ responsive cho các vùng từ nhỏ
tới lớn, các giá trị màn hình lớn hơn sẽ nằm ở dưới  */
/* khi sử dụng max-width sẽ đi từ các thiết bị lớn cho tới thiết bị
nhỏ, ngược lại với min-width  */
@media screen and (max-width: 992px) {
  .available .available_item {
    margin-bottom: 30px;
  }
  .project .project_content .project_item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .project .tab-pane .row {
    width: 100%;
    margin: 0 auto;
  }

  .carousel .carousel-item {
    text-align: center;
  }
}
/* @media screen and (min-width: 576px) {
  .carousel .carousel-item h2 {
    color: orange ;
  }
}
@media screen and (min-width: 992px) {
  .carousel .carousel-item h2 {
    color: red ;
  }
} */
/* award  */
.award {
  padding: 70px 0;
}
.award .award_bg{
  background-image: url(../image/memphis_3.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50% auto;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award .award_left{
  background: rgba(255,255,255,.25);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
  padding: 50px;
  max-width: 750px;
}
.award .award_left h2{
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.award .award_left p{
  color: #585858;
  line-height: 24px;
}
.award .award_right{
  padding: 45px 0;
}
.award .award_right .img-fluid{
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 576px){
  .award .award_bg {
    background-size: cover;
  }
}
/* footer  */
.footer{
  background: #222;
}
.footer .footer_social a{
  color: #aaa;
  margin-right: 10px;
  text-decoration: none;
}
.footer .footer_social i{
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all .5s;
}
.footer .footer_social i:hover,
.footer .footer_social a:hover,
.footer .footer_copyright a:hover{
  border-color: #35a22c;
  color: #35a22c;
}
.footer .footer_copyright{
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer .footer_copyright p{
  color: #aaa;
  margin: 0;
}
.footer .footer_copyright a{
  color: #aaa;
  text-decoration: none;
}